*{
    margin: 0;
    padding: 0;
 
}
body {
    /* font-family: Arial, sans-serif; */
    background-color: #F3E5D8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130vh;
    max-height: fit-content;
}
article {
    /* width: 100%; */
    max-width: 400px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}
img {
    width: 400px;
    border-radius: 10px;
    margin-bottom: 10px;
}
#tiny{
    margin: 10px 0 10px 0;
    font-size: 10px;
    color: grey;
}
li::marker {
    color: #8B5448;
    font-size: 12px;
    font-weight: bolder;  
}
#preparationContent{
    background-color: #FFF7FC;
    padding: 5px;
}
h5 {
    color: #8A5B73;
}
.preparation {
    border-radius: 5px;
    line-height: 1.4em;
    margin: 10px 0 0 15px;
 
}
.preparation ul {
    padding-left: 20px;
    font-size: 12px;
}
strong {
    font-weight: bolder;
    font-size: 13px;
    color: #837b73;
}
h4{
    margin-bottom: 10px;
    color: #8B5448;
}
.ingredients ul{
    font-size: 12px;
    color:#8B8681;
    line-height: 1.8em;
    padding-left: 20px;
}
.instructions ol{
    color:  #8B8681;
    font-size: 10px;
    padding-left: 20px;
    margin-bottom: 20px;
}
ol li{
    margin-top: 10px;
}
.nutrition p{
    color: #837b73;
    font-size: 11px;
    font-weight: bold;
}
table{
    margin-top: 5px;
    line-height: 30px;
    padding-left: 15px;
    text-align: left;
}
th {
    color:  #837b73;
    font-size: 13px;
}
td{
    color: #8B5448;
    font-weight: bold;
    padding-left: 250px;   
}
th, td {
    margin-left: 10px;
    border-bottom: 1px solid lightgrey;
}
/* MOBILE DESIGN */
@media (max-width: 767px) {
    body{
        background-color: white;
        height: auto;
    }
    article {
        padding: 0;
        border-radius: 0;
        
    }
    img{
        width: 400px;
        border-radius: 0;
        padding: 0px;
    }
    h1 {
        font-size: 40px;
        font-weight: bold;
        margin-left: 30px;
    }
    h4 {
        font-size: 30px;
    }
    #tiny {
        font-size: 12px;
        width: 270px;
        margin-left: 30px;
        text-align: left;
        font-weight: bold;
    }
    #preparationContent{
        margin: 0 50px 0 30px;
    }
    .preparation ul {
        line-height: 30px;
    }  
    .ingredients {
        margin-left: 30px;
        width: 280px;
    }
    .instructions {
        margin-left: 30px;
        width: 280px;
        font-size: 12px;
        font-weight: bold;
    }
    .nutrition {
        margin-left: 30px;
    }
    .nutrition p{
        width: 270px;
        font-size: 14px;
        font-weight: bold;
    }
    table{
        /* margin-top: 5px; */
        /* line-height: 30px; */
        padding-left: 0;
        text-align: left;
        
    }
    td{
        padding-left: 150px;   
    }
    hr {
        margin: 0 30px 0 30px;
        font-weight: lighter;
    }
}