body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(to right, black, grey);
    background-color: #f2f9f1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
#container {
    width: 100%;
    max-width: 350px;
    background-image: linear-gradient(to right,grey, black);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}
h1 {
    color: black;
}
#resultDisplay {
    color: white;
    padding: 25px;
    background-image:  linear-gradient(45deg,black,grey);
    border-radius: 10px;
    margin-bottom: 30px;
    
}

button {
    padding: 12px 20px;
    cursor: pointer;
    border-radius: 5px;
    border-style: none;
    font-weight: bold;
    color: white;
    /* margin-left: 20px; */
}
#rock, #scissors{
    background-image: linear-gradient(45deg,black,grey);
    /* background-color: black; */
   
}
#paper{
    background-image: linear-gradient(90deg,grey, black);
}
#scoreDisplay {
    padding: 25px;
    background-color: grey;
    color: white;
    font-weight: bold;
    border-radius: 12px;
}

